
.popup__button_action_save {
    width: 100%;
    height: 46px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    background: #000000;
}

@media screen and (min-width: 425px) {

    .popup__button_action_save {
        height: 50px;
        font-size: 18px;
    }
}

.popup__button_action_save:disabled {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
    color: rgba(0, 0, 0, .2);
    pointer-events: none;
    user-select: none;
  }