
.card__title {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 900;
    font-size: 24px;
    max-width: 212px;
    pointer-events: none;
}

@media screen and (min-width: 1024px) {
    
    .card__title {
        max-width: 180px;
        line-height: calc(29.05/24);
        font-size: 1.875vw;
        width: 87.2%;
    }
  }

@media screen and (min-width: 1280px) {

    .card__title {
        max-width: 212px;
        font-size: 24px;
    }
  }
  
