
.header__link {
  display: inline-flex;
  margin: 0 0 40px;
  align-items: center;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@media screen and (min-width: 425px) {
  
    .header__link {
        font-size: 18px;
        margin: 0;
    }
  }