
.profile__button_action_add {
    width: 100%;
    margin: auto;
    height: 50px;
    background-image: url('../../../../images/icons/add_icon.svg');
    background-size: 16px 16px;
    border: 2px solid #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
  }

  @media screen and (min-width: 425px) {

    .profile__button_action_add {
      width: 68.75%;
    }
  }
 
  @media screen and (min-width: 700px) {

    .profile__button_action_add {
      width: 12vw;
      margin: 0 0 0 auto;
      background-size: 20px 20px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    
    .profile__button_action_add {
      width: 150px;
      background-size: 22px 22px;
    }
  }

