
.profile__button {
    cursor: pointer;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
  }
  
  .profile__button:hover {
    opacity: 0.6;
}