
.card__like {
    width: 22px;
    height: 19px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: #FFF;
    background-image: url('../../../images/icons/like-disabled_icon.svg');
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
}

.card__like:hover {
    opacity: 0.5;
}