
.popup__input {
    width: 100%;
    padding: 0 0 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.21;
  outline: none;
}

